@import './../../../assets/styles/vars';

.portfolio {
	overflow: hidden;

	.row {
		flex-direction: column;
	}

	.filtering {

		span {
			padding: 9px 30px;
			border-radius: 30px;
			letter-spacing: 1px;
			font-weight: 600;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
		}

		.active {
			background: $main-color;
			color: #fff;
			box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, .2);
		}
	}

	.items {
		margin-top: 30px;

		&-all {
			display: flex;
			justify-content: center;

			&-col {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 0 30px;

				.items-small {
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}

	.item-img {
		margin: 30px 0;

		&.small {
			width: 220px;
			padding: 10px;
		}

		&:hover .item-img-overlay {
			opacity: 1;
			transform: translateY(0);
		}

		&:hover h6 {
			transform: translateY(0);
		}

		h6 {
			position: relative;
			margin-bottom: 8px;
			transform: translateY(-15px);
			transition: all .5s;
		}

		img {
			border-radius: 10px;
		}
	}
}