@import './../../../assets/styles/vars.scss';

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// xpush

.cd-headline {
	line-height: 1.2;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 70px;
}

.cd-headline.push b {
  opacity: 0;
}

.cd-headline.push b.is-visible {
  opacity: 1;
  animation: push-in 0.6s;
}

.cd-headline.push b.is-hidden {
  animation: push-out 0.6s;
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: center;
}

.cd-words-wrapper b {
	font-weight: inherit;
	color: $main-color;
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
}

.cd-words-wrapper b {
margin-left: 20px;
}

.cd-words-wrapper b.is-visible {
	position: relative;
}

.no-js .cd-words-wrapper b {
	opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
}

.valign{
  display: flex;
  align-items: center;
}

.header{
	min-height: 110vh;
  background-image: url('/assets/img/bg.jpg');
  background-position: 0px 4px;

	.caption{

		h1{
			margin: 15px 0;
			font-size: 70px;
			font-weight: 300;
			letter-spacing: 4px;
		}
	}
}
