<header class="header valign">
    <img src='./../../../assets/img/welcome/welcome.png' alt="">
  <div class="container">
    <div class="row">
      <div class="full-width text-center caption mt-50">
        <h1>Welcome!</h1>
        <div class="ramka">
          <div class="cd-headline push">
            <span>I am</span>
          </div>
          <div class="headline-names">
            <div class="headline-names-wrapper">
              <div class="item-1">Zain Butler</div>
              <div class="item-2">Web Designer</div>
              <div class="item-3">Photography</div>
            </div>
          </div>
        </div>

        <div class="btnposition">
          <a href="#" class="butn butn-bord mt-30">
            <span>View Work</span>
          </a>
          <a href="#" class="butn butn-light mt-30">
            <span>Hire Me!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
