<header class="header valign bg-img">
  <div class="container">
    <div class="row">
      <div class="full-width text-center caption mt-50">
        <h1>Welcome!</h1>
        <div class="ramka">
          <div class="cd-headline push">
            <span class="blc">I am</span>
            <!--<span class="cd-words-wrapper">
              <b class="is-visible">Zain Butler</b>
              <b>Web Designer</b>
              <b>Photography</b>-->
          </div>
          <div class="a">
            <div class="b">
              <div class="p-1">Zain Butler</div>
              <div class="p-2">Web Designer</div>
              <div class="p-3">Photography</div>
            </div>
          </div>
        </div>


        <div class="btnposition">
          <a href="#" class="butn butn-bord mt-30">
            <span>View Work</span>
          </a>
          <a href="#" class="butn butn-light mt-30">
            <span>Hire Me!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
