<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="4" data-background="assets/img/bg.jpg" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="full-width text-center caption mt-50">
        <h2>Welcome!</h2>
        <h1 class="cd-headline push">
            <span class="blc">I am</span>
            <span class="cd-words-wrapper">
              <b class="is-visible">Zain Butler</b>
              <b>Web Designer</b>
              <b>Photography</b>
            </span>
        </h1>
        <a href="#0" class="butn butn-bord mt-30" data-scroll-nav="3">
            <span>View Work</span>
        </a>
        <a href="#0" class="butn butn-light mt-30" data-scroll-nav="5">
            <span>Hire Me!</span>
        </a>
      </div>
    </div>
  </div>
</header>
