@import './../../../assets/styles/vars.scss';

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ramka {
  display: flex;
  white-space: nowrap;
}

.cd-headline {
  flex: 0 0 35%;
  position: relative;
  line-height: 1.2;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: end;
}

.headline-names {
  flex: 0 0 50%;
  height: 70px;
  font-size: 70px;
  line-height: 1.2;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-align: start;
  color: $main-color;
  overflow: hidden;
  margin-left: 20px;
  white-space: nowrap;

  &-wrapper {
    position: relative;
    top: 0;
    display: inline-block;

    .item-2 {
      position: absolute;
      left: 568px;
      top: 0px;
    }

    .item-3 {
      position: absolute;
      top: 0;
      left: 1150px;
    }
  }

  >.headline-names-wrapper {
    animation-name: headline-names;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  &:hover {
    .headline-names-wrapper {
      animation-play-state: paused;
    }
  }

  @keyframes headline-names {
    0% {
      right: 0;
    }

    24% {
      right: 563px;
    }

    50% {
      right: 1150px;
    }

    75% {
      right: 563px;
    }

    100% {
      right: 0;
    }
  }
}

.valign {
  display: flex;
  align-items: center;
}

.header {
  min-height: 110vh;
  background-image: url('./../../../assets/img/welcome/welcome.png');
  background-position: 0px 4px;

  .caption {
    h1 {
      margin: 15px 0;
      font-size: 70px;
      font-weight: 300;
      letter-spacing: 4px;
    }
  }
}