@import '../../../assets/styles/vars.scss';

.about {
	display: block;

	.row {
		display: flex;
	}

	.skills {
		padding: 100px 0;
		flex: 0 0 33%;

		h4 {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.skill-progress {
			height: 8px;
			width: 100%;
			background-color: #333;
			border-radius: 20px;
			position: relative;

			.progres {
				width: 10%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 20px;
				background-color: $main-color;
				transition: all 1.5s;

				&:after {
					content: attr(data-value);
					position: absolute;
					top: -15px;
					right: 0;
					font-size: 10px;
				}
			}
		}
	}

	.content {
		padding: 100px 0;
		padding-top: 50px;
		bottom: 0;

		h4 {
			font-size: 12px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 8px;
			margin-bottom: 10px;
		}

		h5 {
			display: inline-block;
			font-size: 30px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 4px;
			color: #fff;
			background: $main-color;
			padding: 5px 10px;
			margin-bottom: 40px;
		}

		h6 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		.social {
			display: inline-block;
			padding: 10px 20px;
			border-radius: 30px;
			background-color: rgba(200, 200, 200, .05);

			span {
				position: relative;
				padding-right: 50px;
				color: $main-color;
				font-size: 12px;

				&:after {
					content: '';
					width: 40px;
					height: 1px;
					background-color: #eee;
					position: absolute;
					right: 0;
					top: 50%;
				}
			}

			a {
				font-size: 12px;
				margin: 0 10px;

				&:hover {
					color: $main-color;
				}
			}
		}
	}

	.valign {
		align-items: center;
	}

	.section-head {
		margin-bottom: 80px;
		position: relative;
		text-align: center;

		h4 {
			font-size: 70px;
			font-weight: 800;
			font-family: inherit;
			letter-spacing: 2px;
			color: #222;
			transition: all .4s;
		}
	}

	.hero-img {
		background-position: 50% 50%;
		flex: 0 0 33%;
	}

	.hero-img,
	.main-content {
		flex: 0 0 33%;
	}
}