<section class="about">
	<div class="container">
		<div class="row">
			<div class="skills">
				<div class="section-head">
					<h4>About Me</h4>
				</div>
				<div class="skill-item mb-30">
					<h6>Web Design</h6>
					<div class="skill-progress">
						<div class="progres"></div>
					</div>
				</div>
				<div class="skill-item mb-30">
					<h6>Branding</h6>
					<div class="skill-progress">
						<div class="progres"></div>
					</div>
				</div>
				<div class="skill-item">
					<h6>Development</h6>
					<div class="skill-progress">
						<div class="progres"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 hero-img bg-img" data-background="img/hero.jpg">
				<img src="assets/img/hero.jpg" alt="">
			</div>
			<div class="col-lg-4 main-content">
				<div class="content">
					<h4>Who am i</h4>
					<h5>Zain Butler.</h5>
					<h6>Professional Web Designer</h6>
					<p class="mb-10">
						Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum
						velit class aptent taciti sociosqu ad litora.
					</p>
					<p>
						Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class
						aptent taciti sociosqu ad litora torquent metus metus ullamcorper vel tincidunt sed class aptent taciti
						sociosqu ad litora .
					</p>
					<div class="social mt-40">
						<span>Follow Me :</span>
						<a href="#"><i class="icofont icofont-social-facebook"></i></a>
						<a href="#"><i class="icofont icofont-social-twitter"></i></a>
						<a href="#"><i class="icofont icofont-social-instagram"></i></a>
						<a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
						<a href="#"><i class="icofont icofont-social-behance"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>