@font-face {
	font-family: 'icofont';
	src: url('./../fonts/icofont.eot');
	src: url('../fonts/icofont.eot') format('embedded-opentype'),
		url('../fonts/icofont.ttf') format('truetype'),
		url('../fonts/icofont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.icofont-ui-fire-wall:before {
	content: "\ed34";
}

.icofont-instrument:before {
	content: "\eb9d";
}

.icofont-chart-histogram-alt:before {
	content: "\ea8b";
}

.icofont-paint-brush:before {
	content: "\ebe1";
}

.icofont-paint:before {
	content: "\f091";
}

.icofont-social-twitter:before {
	content: "\ee34";
}

.icofont-social-facebook:before {
	content: "\ee08";
}

.icofont-social-facebook-messenger:before {
	content: "\f11c";
}

.icofont-social-instagram:before {
	content: "\ee14";
}

.icofont-brand-linkedin:before {
	content: "\ea04";
}

.icofont-social-behance:before {
	content: "\edf5";
}

.icofont {
	font-family: 'IcoFont';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}