

$main-color: #c49b66;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;

//[ 01 Start Basics ]

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	word-wrap: break-word;

}

body {
	color: #000;
	background: #fff;
	line-height: 1.3;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden !important;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Josefin Sans', sans-serif;
}

p {
	font-size: 15px;
	color: #8f8f8f;
	line-height: 1.8;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}

span, a, a:hover {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.section-padding{
	padding: 120px 0;
}

.section-head{
	margin-bottom: 80px;
	position: relative;

	h4{
		font-size: 70px;
		font-weight: 800;
		font-family: inherit;
		letter-spacing: 2px;
		color: #dadada;
		transition: all .4s;
	}
}

section{

	&:hover{

		.section-head{

			h4{
				color: transparent;
				-webkit-text-stroke: 1px #ccc;
			}
		}		
	}
}

.wave{
	position: absolute;
	width: 100%;
	left: 0;
	top: -1px;
	fill: #fff;

	&.gray{
		fill: #f7f7f7;
	}
}

.bg-gray{
	background: #f7f7f7 !important;
}

.o-hidden {
	overflow: hidden;
}

.position-re {
	position: relative;
}

.full-width{
	width: 100% !important;
}

.lg-line-height{
	line-height: 1.5;
}

.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-fixed{
	background-attachment: fixed;
}

.valign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

// Animate Headline

.cd-headline {
	line-height: 1.2;
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: center;
}

.cd-words-wrapper b {
	font-weight: inherit;
	color: $main-color;
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
}

.cd-words-wrapper b.is-visible {
	position: relative;
}

.no-js .cd-words-wrapper b {
	opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
	opacity: 1;
}


// xpush 

.cd-headline.push b {
  opacity: 0;
}
.cd-headline.push b.is-visible {
  opacity: 1;
  -webkit-animation: push-in 0.6s;
  -moz-animation: push-in 0.6s;
  animation: push-in 0.6s;
}
.cd-headline.push b.is-hidden {
  -webkit-animation: push-out 0.6s;
  -moz-animation: push-out 0.6s;
  animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes push-in {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes push-out {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}