@import '../../../assets/styles/vars.scss';

.navbar {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	max-height: 95px;
	z-index: 100;
	transition: position 2s;

	&.fixed {
		position: fixed;
		background: #222;
	}

	.navbar-burger__icon,
	.navbar-burger__links {
		display: none;
	}

	.container {
		display: flex;
		justify-content: space-between;

		.logo {
			padding: 15px 0px;
			width: 200px;

			img {
				width: 50%;
			}
		}
	}

	.icon-bar {
		color: #fff;
	}

	.navbar-nav {
		display: flex;

    .nav-item :hover {
      color: $main-color;
    }

		.nav-link {
			font-size: 14px;
			font-weight: 500;
			color: #eee;
			letter-spacing: .5px;
			margin: 40px 5px;
			transition: all .5s;
		}

		.active {
			color: $main-color;
		}
	}

	@media (max-width: $desk-md-screen) {
		.navbar-collapse {
			display: none;
			max-height: 340px;
			overflow: auto;
			background: #111;
			text-align: center;
			padding: 10px 0;
		}

		.nav-link {
			margin: 10px auto;
		}

		.navbar-burger {
			display: block;
			position: relative;
			width: 40px;
			position: relative;
			margin: 20px 10px 0 0;

			&.opened {
				transform: rotate3d(1, 2.0, 3.0, 10deg);
			}

			&__icon {
				display: block;
				cursor: pointer;
			}

			span {
				background-color: #fff;
				width: 100%;
				height: 2px;
			}
		}

		.navbar-burger__links {
			display: block;
			background: #000;
			height: 100%;
			width: 100%;

			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	@media (min-width: 992px) {
		.navbar-nav {
			.nav-link {
				padding-right: 0.5rem;
				padding-left: 0.5rem;
			}
		}
	}
}
