@import './../../../assets/styles/vars.scss';

.navbar .navbar-nav .active {
  color: #c49b66 !important;
}

.navbar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	z-index: 9;
	min-height: 80px;

	.container{
		display: flex;
		justify-content: space-between;
	}

	.icon-bar{
		color: #fff;
	}

	.navbar-nav{
  	display: flex;

		.nav-link{
			font-size: 13px;
			font-weight: 500;
			color: #eee;
			letter-spacing: .5px;
			margin: 30px 5px;
			transition: all .5s;
		}

		.active{
			color: $main-color !important;
		}
	}
}

.nav-scroll{
	background: #222;
	padding: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	transition: transform .5s;
	transform: translateY(100px);
}

.logo{
	padding: 15px 0px;
	width: 90px;
}