@import "src/styles.scss";
@import "src/assets/styles/fonts.scss";

.icofont {
	font-family: 'IcoFont' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;}

	.icofont-social-twitter:before {
		content: "\ee34";}

		.icofont-social-facebook:before {
			content: "\ee08";
		}

		.icofont-social-facebook-messenger:before {
			content: "\f11c";
		}

			.icofont-social-instagram:before {
				content: "\ee14";
			}

			.icofont-brand-linkedin:before {
				content: "\ea04";
			}

			.icofont-social-behance:before {
				content: "\edf5";
			}

.bg-dark{
	background: #0F0F0F !important;
}

.text-center {
	text-align: center;
}

footer{
	padding: 80px 0;

	.social{

		a{
			color: $main-color;
			width: 40px;
			height: 40px;
			line-height: 40px;
			margin: 15px 10px;
			position: relative;
			z-index: 2;

			&:after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 10px;
				transform: rotate(45deg);
				background-color: #222;
				z-index: -1;
				transition: all .4s;
			}

			&:hover{
				color: #fff;

				&:after{
					background: $main-color;
					transform: rotate(0deg);
				}
			}
		}
	}

	p{
		color: #999;
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}