<footer class="text-center bg-dark">
	<div class="container">
			<!-- Logo -->
			<a class="logo" href="#">
					<img src="tabir/design/HTML/img/logo-light.png" alt="logo">          
			</a>
			
			<div class="social">
					<a href="#0"><i class="icofont icofont-social-facebook"></i></a>
					<a href="#0"><i class="icofont icofont-social-twitter"></i></a>
					<a href="#0"><i class="icofont icofont-social-instagram"></i></a>
					<a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
					<a href="#0"><i class="icofont icofont-social-behance"></i></a>
			</div>

			<p>&copy; 2022 VikTor. All Rights Reserved.</p>
	</div>
</footer>