/* You can add global styles to this file, and also import other style files */
@import './assets/styles/vars';
@import './assets/styles/buttons';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	word-wrap: break-word;

}

body {
	color: #fff;
	background: #161617;
	line-height: 1.3;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Josefin Sans', sans-serif;
}

p {
	font-size: 15px;
	color: #8f8f8f;
	line-height: 1.8;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}

span, a, a:hover {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.section-padding{
	padding: 120px 0;
}

.section-head{
	margin-bottom: 80px;
	position: relative;

	h4{
		font-size: 70px;
		font-weight: 800;
		font-family: inherit;
		letter-spacing: 2px;
		color: #222;
		transition: all .4s;
	}
}

section{
	&:hover{
		.section-head{
			h4{
				color: transparent;
				-webkit-text-stroke: 1px #333;
			}
		}		
	}
}

.wave{
	position: absolute;
	width: 100%;
	left: 0;
	top: -1px;
	fill: #161617;

	&.dark{
		fill: #0F0F0F;
	}
}

.bg-dark{
	background: #0F0F0F;
}

.o-hidden {
	overflow: hidden;
}

.position-re {
	position: relative;
}

.full-width{
	width: 100%;
}

.lg-line-height{
	line-height: 1.5;
}

.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-fixed{
	background-attachment: fixed;
}


.valign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}