<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
<section class="blog section-padding bg-dark" data-scroll-index="4">
  <div class="container">
      <div class="row">
          <div class="section-head text-center col-lg-8 offset-lg-2 col-md-10 offset-md-1">
              <h4>Our Blog</h4>
          </div>
          <div class="clearfix full-width"></div>

          <div class="col-lg-4">
              <div class="item mb-md50">
                  <div class="post-img position-re o-hidden">
                      <img src="assets/img/blog/01.jpg" alt="">
                  </div>
                  <div class="content">
                      <span class="data">
                          <a href="#0" class="undecro">WordPress</a>
                          <a href="#0" class="undecro">March 21 - 2018</a>
                      </span>
                      <h5><a href="#0" class="undecro">Your ideal WordPress theme is here.</a></h5>

                      <a href="#0" class="more mt-30">
                          <span>Read More</span>
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="item mb-md50">
                  <div class="post-img position-re o-hidden">
                      <img src="assets/img/blog/02.jpg" alt="">
                  </div>
                  <div class="content">
                      <span class="data">
                          <a href="#0" class="undecro">ThemeForest</a>
                          <a href="#0" class="undecro">March 21 - 2018</a>
                      </span>
                      <h5><a href="#0" class="undecro">How to improve your business ?</a></h5>

                      <a href="#0" class="more mt-30">
                          <span>Read More</span>
                      </a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="item">
                  <div class="post-img position-re o-hidden">
                      <img src="assets/img/blog/03.jpg" alt="">
                  </div>
                  <div class="content">
                      <span class="data">
                          <a href="#0" class="undecro">Lifestyle</a>
                          <a href="#0" class="undecro">March 21 - 2018</a>
                      </span>
                      <h5><a href="#0" class="undecro">Style workspaces for your inspiration.</a></h5>

                      <a href="#0" class="more mt-30">
                          <span>Read More</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
