$main-color: #c49b66;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;

.section-padding{
  padding: 120px 0;
}

.section-head{
  margin-bottom: 80px;
  position: relative;

  h4{
    font-size: 70px;
    font-weight: 800;
    font-family: inherit;
    letter-spacing: 2px;
    color: #222;
    transition: all .4s;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}

.clearfix:after,.container:after {
  clear: both;
}

.mt-30 {
  margin-top: 30px !important;
}

section{

  &:hover{

    .section-head{

      h4{
        color: transparent;
      }
    }
  }
}

.blog{

  .item{
    box-shadow: 0px 15px 40px rgba(0,0,0,.1);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    &:hover{

      img{
        filter: none;
        transform: scale(1.05,1.05);
      }

      .content{
        bottom: 0;
      }
    }

    img{
      filter: blur(2px);
      transition: all .5s;
    }
    .content{
      padding: 20px;
      position: absolute;
      bottom: -60px;
      left: 0;
      width: 100%;
      transition: all .3s;

      .data{
        color: $main-color;
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 10px;

        a{
          margin-right: 10px;
          position: relative;

          &:after{
            content: '/';
            position: relative;
            margin-left: 10px;
          }

          &:last-child{
            margin-right: 0;

            &:after{
              display: none;
            }
          }
        }
      }

      h5{
        font-weight: 500;
        line-height: 1.5;
        color: #fff;
      }

      .more{
        letter-spacing: 2px;
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: 1px solid $main-color;

        &:hover{
          color: $main-color;
        }
      }
    }
  }
}

.col-lg-4, .col-lg-8, .col-md-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
