<section class="blog section-padding bg-dark" data-scroll-index="4">
  <div class="container">
      <div class="row">
          <div class="section-head text-center col-lg-8 offset-lg-2 col-md-10 offset-md-1">
              <h4>Our Blog</h4>
          </div>
          <div class="clearfix full-width"></div>

          <div class="col-lg-4">
              <div class="item mb-md50">
                  <div class="post-img position-re o-hidden">
                      <img src="assets/img/blog/01.jpg" alt="">
                  </div>
                  <div class="content">
                      <span class="data">
                          <a href="#" class="undecro">WordPress</a>
                          <a href="#" class="undecro">March 21 - 2018</a>
                      </span>
                      <span class="info">
                        <a href="#" class="undecro">Your ideal WordPress theme is here.</a>
                      </span>
                      <a href="#" class="more mt-30">
                          <span>Read More</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item mb-md50">
                  <div class="post-img position-re o-hidden">
                      <img src="assets/img/blog/02.jpg" alt="">
                  </div>
                  <div class="content">
                      <span class="data">
                          <a href="#" class="undecro">ThemeForest</a>
                          <a href="#" class="undecro">March 21 - 2018</a>
                      </span>
                      <span class="info">
                        <a href="#" class="undecro">How to improve your business ?</a>
                      </span>
                      <a href="#" class="more mt-30">
                          <span>Read More</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="item">
                  <div class="post-img position-re o-hidden">
                      <img src="assets/img/blog/03.jpg" alt="">
                  </div>
                  <div class="content">
                      <span class="data">
                          <a href="#" class="undecro">Lifestyle</a>
                          <a href="#" class="undecro">March 21 - 2018</a>
                      </span>
                      <span class="info">
                        <a href="#" class="undecro">Style workspaces for your inspiration.</a>
                      </span>
                      <a href="#" class="more mt-30">
                          <span>Read More</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
