@import './../../../assets/styles/vars.scss';

.blog {

  .item {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .1);
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &:hover {

      img {
        filter: none;
        transform: scale(1.05, 1.05);
      }

      .content {
        bottom: 0;
      }
    }

    img {
      filter: blur(2px);
      transition: all .5s;
    }

    .content {
      padding: 20px;
      position: absolute;
      bottom: -60px;
      left: 0;
      width: 100%;
      transition: all .3s;
      display: flex;
      flex-direction: column;

      .data {
        color: $main-color;
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 10px;

        a {
          margin-right: 10px;
          position: relative;

          &:after {
            content: '/';
            position: relative;
            margin-left: 10px;
          }

          &:last-child {
            margin-right: 0;

            &:after {
              display: none;
            }
          }
        }
      }

      .info {
        font-weight: 500;
        line-height: 1.5;
        color: #fff;
      }

      .more {
        letter-spacing: 2px;
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: 1px solid $main-color;
        display: inline-block;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

.col-lg-4,
.col-lg-8,
.col-md-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}